[2019-11-11 17:15] FaithBeam opened #1 "http://dege.freeweb.hu/dgVoodoo2/dgVoodoo2_62_1.zip"
I am not using this version because one of the files is picked up as a trojan by Windows Defender, killing my application in the process. Dege has submitted this file to Microsoft to be checked out (I can't find the post where he says this...). Using http://dege.freeweb.hu/dgVoodoo2/dgVoodoo2_55_4.zip in the meantime.

[2020-01-25 10:46] FaithBeam opened #2 "Crash when clicking browse then clicking cancel in the file explorer"

[2020-01-25 10:46] #2 closed

[2020-01-25 10:54] FaithBeam opened #3 "Crash when clicking patch without selecting the sims executable"

[2020-01-26 18:38] #3 closed

[2020-02-06 03:51] cookiefaced opened #4 "Sims1WidescreenPatcher.exe is not included in the zip"
There is no Sims1WidescreenPatcher.exe or other executable in the patcher folder.

[2020-02-06 23:25] FaithBeam commented on #4
You are downloading from the releases, correct? https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases

[2020-02-21 21:20] #4 closed

[2020-02-24 07:47] shenna opened #5 "Resolution 1600x900: next / back arrows in Build / Buy mode are gone"
Hello! Thanks for making this public.

I've adapted it to 1600x900 resolution. It runs perfectly fun yet with one bug: next / back arrows in all product pages are gone. They're in place in the Build mode tho, invisible but show up on hover.

This is my screenshot:
https://cdn.discordapp.com/attachments/416652374137110538/681213972325597305/unknown.png

This is from other person who tried 1600x900:

[2020-02-24 21:52] FaithBeam commented on #5
@shenna

I was able to reproduce this bug with that resolution, and I have no idea how to solve it. I will look around to see if there is something I can do. In the meantime, try using a different resolution. I can see the next / back arrows with:
* 1280x720
* 1366x768
* 1920x1080

Proof shown here: https://imgur.com/a/SiSu3Bp

I'll update the README.md with this information.

[2020-02-25 10:08] shenna commented on #5
@FaithBeam

Gotcha. Thank you 🖖

[2020-02-29 14:37] #5 closed

[2020-03-27 04:10] Cinibonswirl26 opened #6 "Application appears to close after clicking Patch"
I've run this program as administrator, but it closes after I click patch

[2020-03-27 10:44] FaithBeam commented on #6
@Cinibonswirl26

Can you try [this release](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/tag/v.1.2.0) and tell me what the error message is? This includes logging so it will hopefully capture whatever error you're getting.

Did you have the dgvoodoo2 checkbox checked when this happened?

Try copying your sims.exe to your desktop, run the program without admin

[2020-03-31 10:07] NER0888 opened #7 "Does not load "Studio town view" and "Magic town view""
After patching game, "Studio town view" and "Magic town view" does not load (regardless of chosen resolution and if dgVoodoo2 is checked or not), but areas and buttons are still active and can be used. Other than that, works great.
My native resolution is 2560x1080.
I use Sims1WidescreenPatcher.1.2.0.zip.
I have no idea what other zips (Source code (zip); Source code (tar.gz)) are for.

Please hel

[2020-03-31 15:52] FaithBeam commented on #7
@NER0888

I'll need to look into how to extract UI elements from The Sims because I'm assuming that is what the issue is here. If anyone with more experience in Sims modding can chime in, that'd be great.

[2020-04-01 19:28] FaithBeam commented on #7
@NER0888
Sorry for closing this without asking if your issue was fixed. Try this release. https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/download/v1.2.1/Sims1WidescreenPatcher.1.2.1.zip

[2020-04-01 19:35] FaithBeam opened #8 "StudioTown and MagicTown View Artifacts with 1.2.1"
Tooltip windows stay over the blue background even though you move your mouse cursor away

![StudioTown](https://i.imgur.com/mv26wiD.png)
![MagicTown](https://i.imgur.com/8CY4BIn.png)

[2020-04-01 20:23] #1 closed

[2020-04-02 16:54] NER0888 commented on #7
Hi, still have an issue here:
2020-04-02 19:52:17,992 [1] ERROR HexEditApp.MainWindow - An unhandled exception occurred: Access to the path 'C:\Program Files (x86)\Maxis\The Sims\Sims Backup.exe' is denied.

[2020-04-02 17:54] FaithBeam commented on #7
@NER0888
Try running the program as administrator.

[2020-04-03 11:35] NER0888 commented on #7
After running this patch as administrator i have this.

![Annotation 2020-04-03 143308](https://user-images.githubusercontent.com/62935373/78356530-66f53680-75b8-11ea-86a3-58188608d194.png)

[2020-04-12 08:08] NER0888 commented on #7
After running this patch as administrator i have this. any idea why?

![Annotation 2020-04-03 143308](https://user-images.githubusercontent.com/62935373/78356530-66f53680-75b8-11ea-86a3-58188608d194.png)

[2020-04-14 10:03] NER0888 commented on #8
After running this patch as administrator i have this. any idea why?

![Annotation 2020-04-03 143308](https://user-images.githubusercontent.com/62935373/78356530-66f53680-75b8-11ea-86a3-58188608d194.png)

[2020-04-22 18:53] bertalanimre opened #9 "HexEditApp.MainWindow - Failed to find pattern"
Tried your fix Mate. I was sad when I found out it does not work. I've copied the log of the patch, see if it helps you any.

[code]

[2020-04-25 21:02] FaithBeam commented on #9
@bertalanimre This patch has only been tested on the Sims.exe NoCD patch with MD5 hash 42F9A3E11BD1A03515C77777CB97B5BC so if you aren't using that specific one, this isn't guaranteed to work.

If you want to upload your sims.exe somewhere so I can take a quick look at it I can do that but I wouldn't get your hopes up on me finding anything.

[2020-05-11 22:41] FaithBeam commented on #7
@NER0888 It's been a while but I guess late is better than never. Please try this release which should solve that error. https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/tag/1.2.3

The issue was that I was trying to delete that file but not checking if it existed in the first place. This release checks files and directories before deleting them.

[2020-05-13 12:12] #6 closed

[2020-05-13 12:12] #9 closed

[2020-05-23 14:14] #7 closed

[2020-06-24 11:19] abidoang opened #10 "No UI when using 1920x1080 resolution"
Hello. I tried to patch my game with 1600x900 and it works fine. However, when I try it with 1920x1080 resolution, the loading screen and mapview are dragged to the corner a bit and when I tried entering any household, there are no interface whatsoever. Any resolution? Thank you!
![error 1](https://user-images.githubusercontent.com/11646480/85546371-07527880-b647-11ea-9fec-b6057039ecca.png)
![erro

[2020-06-25 21:38] FaithBeam commented on #10
Hi @abidoang, can you post the contents of SimsWidescreenPatcher.log and your monitor's default resolution? The log file will be in the folder with SimsWidescreenPatcher.exe.

[2020-06-26 00:06] abidoang commented on #10
Sure thing. My monitor's default resolution is 1920x1080 as well. And here's the log when I first installed it (22nd of May) until today (26th of May) when I resized it to 1920x1080 again. I've attached the zip file you requested as well.
[UIGraphics contents abidoang.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/4834384/UIGraphics.contents.abidoang.zip)

`2

[2020-06-26 08:10] abidoang commented on #10
Hey! So after further testing I tried to check the "dgVoodoo2" option when patching. After doing that, it seemed to be working on 1080p, but the fps seem to be worse. Because of that, I tried to uninstall it and then patching it again without checking dgVoodoo2 box. And surprisingly, it worked with better performance and in 1080 resolution. I'm not sure what I really did here tbh but I'm gonna sha

[2020-06-27 11:04] FaithBeam commented on #10
I'm glad you were able to find a solution! I tested your UIGraphics files and couldn't reproduce that problem so I have no idea why that happened. If this happens again, feel free to open this issue back up.

[2020-06-27 11:04] #10 closed

[2020-07-02 17:36] #8 closed

[2020-08-12 18:52] Nigcra opened #11 "Cannot apply patch"
Hello,

I own the original game in several variations. I have tried several No-CD executables (pretty much everything I could find on known sites), but none of them could run the patch. I didn't check the checksum, but if I don't find anything under this checksum, I don't need to check it. I would like to play the whole thing in German and not in English. Can anyone help me?

[2020-08-12 19:39] FaithBeam commented on #11
Hi @Nigcra, do you have the original sims as in no expansions, or do you have the Sims Complete Collection?

[2020-08-12 20:15] Nigcra commented on #11
Hi, I have tried the Sims Deluxe and the Collection.

[2020-08-12 21:01] FaithBeam commented on #11
Can you install the Complete Collection, use this nocd exe, and then try the patch please?
http://www.gameburnworld.com/dl/dl2/m.php?p=TheSimsCompleteCollectionv1.91NoCDFixedexeEng.rar

You will need 7-zip or WinRar to extract this.

[2020-08-12 21:58] Nigcra commented on #11
Get exactly the same error as seen above. Additionally both the EXE and the backup EXE are broken and the game won't start anymore.

[2020-08-12 22:06] FaithBeam commented on #11
If you try just the nocd exe that I posted above without patching does the game load?

[2020-08-12 22:11] Nigcra commented on #11
![image](https://user-images.githubusercontent.com/26165631/90073449-7f5d2680-dcf9-11ea-8e1b-0529559d4edb.png)

yes that works

[2020-08-13 12:09] FaithBeam commented on #11
Try this release: https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/download/1.16.0/Sims1WidescreenPatcher.1.16.0.zip

If this doesn't work please post the contents of the SimsWidescreenPatcher.log that gets created.

[2020-08-16 00:14] samboa86 opened #12 "Error on open wont work"
I get an error just trying to open the file. I run as admin. the error I get :
an unhandled exception occured: the invocation of the constructor  on type 'HexEditApp.MainWindow' that matched the specified binding constraints threw an exception."

I tried changing the directory to C and did it again, no luck.

the log shows:

2020-08-15 20:05:29,811 [1] INFO HexEditApp.App - =============  Started

[2020-08-16 00:22] FaithBeam commented on #12
@samboa86 Hi, can you try the previous release and see if it loads? Nothing important changed between these two releases.

https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/download/1.15.0/Sims1WidescreenPatcher.1.15.0.zip

[2020-08-16 00:43] samboa86 commented on #12
Thanks for the fast reply. Just tried it, same error

[2020-08-16 13:34] FaithBeam commented on #12
@samboa86 Please try this release. [Sims1WidescreenPatcher.1.16.1+45119b2.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5080691/Sims1WidescreenPatcher.1.16.1%2B45119b2.zip)

I've never seen this kind of error before and googling it is kind of baffling. Nevertheless, I'm going to change some stuff up which I _think_ is related to it.

This release:
* Uses .ne

[2020-08-16 15:25] samboa86 commented on #12
Thanks. I tried again and got the same error, the weird thing is it isn't creating a log anymore. there is no log file

[2020-08-16 15:54] FaithBeam commented on #12
Maybe third time is the charm? :)
In the stack trace you posted I can see the HeightTextBox_TextChanged method complaining about that the height is not in the correct format. I can only assume this means that the auto-detected screen resolution is bugging out. Try this release:
[Sims1WidescreenPatcher.1.16.2+8c0c311.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/fi

[2020-08-16 16:30] samboa86 commented on #12
3rd time is a charm! It opens! But too bad I cant get the game to work... I dont know if it is because I am using the complete edition I found but when I try to patch it says "failed to find pattern" which is weird because it does create a sims backup.exe and a new sims.exe

But then opening the file the game keeps crashing after the "Maxis TM" black screen
So I dont know if it is this software or

[2020-08-16 16:35] FaithBeam commented on #12
Excellent, progress! Extract this config file over the existing one and try again.
[Sims1WidescreenPatcher.exe.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5080984/Sims1WidescreenPatcher.exe.zip)

This changes the pattern the program searches for to be much more relaxed but potentially opens you up to editing the wrong bytes in the file depending on the exe

[2020-08-17 17:21] Nigcra commented on #11
Hi, thanks for your efforts,

here is the error and log file:

![image](https://user-images.githubusercontent.com/26165631/90424555-99628480-e0be-11ea-8c2f-cf32ddb1ad98.png)

[SimsWidescreenPatcher.log](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5085810/SimsWidescreenPatcher.log)

[2020-08-18 10:30] FaithBeam commented on #11
@Nigcra I see the issue now. You extracted my patch to the same folder with your Sims.exe. Extract the patch anywhere other than that and try patching again. The reason it fails is a combination of the sims install having a directory with UIGraphics and my patch also using the same directory name. When you click patch, it will delete the images from the sims install, and in this instance since the

[2020-08-18 12:07] FaithBeam commented on #11
@Nigcra Created a new release which should fix this issue. Try it out: https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/download/1.17.0/Sims1WidescreenPatcher.1.17.0.zip

[2020-08-18 21:28] samboa86 commented on #12
It actually says it patched! this time! But now the game doesnt load at all lol. I dont even get the black Maxis screen. Man, why is this so difficult!

[2020-08-18 21:40] FaithBeam commented on #12
@samboa86
Are you using a nocd exe or crack? If you aren't and are running The Sims Complete Collection, use this nocd exe: http://www.gameburnworld.com/dl/dl2/m.php?p=TheSimsCompleteCollectionv1.91NoCDFixedexeEng.rar

If you are already using a nocd exe or crack follow these settings on the wiki which may solve the startup issues you're having:  https://github.com/FaithBeam/Sims-1-Complete-Collec

[2020-08-18 22:47] Nigcra commented on #11
That worked, thank you very much!!

[2020-08-18 23:34] FaithBeam commented on #11
You're welcome! :)

[2020-08-18 23:34] #11 closed

[2020-08-19 02:16] samboa86 commented on #12
Oh man youre awesome! You keep helping me! I thought I had a nocd crack but after using that file you linked I finally got the game to load. I did it before I used your software. So then I used your software to fix the resolution and it patches but now the game looks like the picture below. tiny image giant blue space. so close!!

![Untitled](https://user-images.githubusercontent.com/40417576/9058

[2020-08-19 17:48] FaithBeam commented on #12
Unfortunately there's no known way to enlarge the viewport of the neighborhood screens and character screens. As long as the main game looks good then the patch is working as intended.
![The Sims Complete Collection 8_19_2020 1_45_41 PM](https://user-images.githubusercontent.com/32502411/90671343-8ff22d00-e222-11ea-93af-89d24f1c2fed.jpg)

[2020-08-31 14:58] #12 closed

[2020-09-15 19:45] heismauri opened #13 "Error in StudioTown and MagicTown (UIGraphics)"
**Installed Sims Version**
Sims 1 Complete Collection

**Are you using a nocd exe / crack?**
Cracked

**Describe the issue**
When using the original files, or modified ones Studio Town and Magic Town does not show properly

*Original files*
![Studio Town Original](https://i.imgur.com/l6QFwYR.png)
![Magic Town Original](https://i.imgur.com/CZzmMFT.png)

*Files edited from, that were found in [this

[2020-09-15 21:57] FaithBeam commented on #13
Hi @heismauri, after running my program, did you copy graphics files to your Sims installation manually? If so, you don't need to. The program will scale the images located in Content directory to the resolution you chose in the application. The images from the reddit post will not work for your resolution because those are only for 1920x1080.

[2020-09-15 22:11] heismauri commented on #13
I am so sorry, by Original I meant the ones that were scaled up with your program. I understand it might have been confusing. And yeah the reddit post work for all of those but StarTown and MagicTown, both your program contents and the reddit ones give me that problem.

Here u have my log file
[SimsWidescreenPatcher.log](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/fi

[2020-09-15 22:52] FaithBeam commented on #13
@heismauri No worry! From your log it shows that the program is not compositing pink.png over bluebackground.png and it also doesn't show it finished patching. As for those images not existing in your sims installation, don't worry, they're not part of the original game. Did you close the program before it opened a small window saying "Patched"? Resizing the images can take a while.

[2020-09-15 22:57] heismauri commented on #13
The program closes right away, I never saw that Patched window. Could it be because it crashes? I ran the program again with a clean installation and here is my log. I also have to mention that I ran the program as an administrator.
[SimsWidescreenPatcher.log](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5228635/SimsWidescreenPatcher.log)

[2020-09-15 23:24] FaithBeam commented on #13
@heismauri That is definitely crashing. Unfortunately it doesn't give us what the error is. My guess is the code I have will only capture errors on the main UI thread and since I was scaling and compositing images parallel, they weren't on the UI thread. Please try this release. I changed the program to scale images one-by-one instead of parallel which will hopefully allow the program to capture w

[2020-09-15 23:29] heismauri commented on #13
Ok, here u have the latest log of that release
[SimsWidescreenPatcher.log](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5228697/SimsWidescreenPatcher.log)

[2020-09-15 23:36] FaithBeam commented on #13
Ok, I'm stumped as to why it's not giving some sort of error in the log. In any case here is a 1366x768 images pack that you can paste into C:\Program Files (x86)\Maxis\The Sims\UIGraphics and overwrite everything. This should solve the issue of messed up Studio Town and Magic Town screens.
[1366x768.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5228715/1366

[2020-09-15 23:39] heismauri commented on #13
IT WORKED!! Thank you so so much! But still if u still need me to figure out the bug, please let me know

[2020-09-16 10:08] FaithBeam commented on #13
@heismauri Thank you. Please try this release. It won't solve the issue but hopefully will be able to capture the exception you're getting in the log so I can do something about it.
[Sims1WidescreenPatcher.1.17.3+2a427ef.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5231425/Sims1WidescreenPatcher.1.17.3%2B2a427ef.zip)

[2020-09-16 14:21] heismauri commented on #13
Ok here u have my latest log. Also a little suggestion, I think it would be better if the image was overlayed on a solid color rather than upscaled. In my opinion, it will look better.
[SimsWidescreenPatcher.log](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5232742/SimsWidescreenPatcher.log)

[2020-09-17 16:32] heismauri commented on #13
I was able to tweak some things and now StudioTown and MagicLand look like this, haha I couldn't put the styles in the other areas.
![Studio Town Tweaked](https://i.imgur.com/8dsRGMi.png)
I also attached my UIGraphics folder if you would like to take a look at it.
[UIGraphics.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5240651/UIGraphics.zip)

[2020-09-17 18:21] FaithBeam commented on #13
Still no dice on that error unfortunately... :(
I just checked the Sims Creator and family selector and it seems like it is supposed to be green. Look at 800x600 vs. 1024x768 (the two default resolutions that the game has).
![800x600](https://user-images.githubusercontent.com/32502411/93511457-d9509d80-f8f0-11ea-9cf2-6ce4d42732c1.png)
![1024x768](https://user-images.githubusercontent.com/32502411/

[2020-09-17 18:50] heismauri commented on #13
Yeah, I got the default graphic from a screenshot so (I suppose) it is not very hq. Still works tho. Yay can't wait for u to add that default graphic because it looks nice. Also, what a boomer about the green background, it looks weird. It is what it is tho. Thanks.

[2020-09-19 14:47] FaithBeam commented on #13
@heismauri Hello! I've added your suggestion in #14, and I've added an extra attempt to catch and log the error you are getting in this release:
[Sims1WidescreenPatcher.1.18.1.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5250026/Sims1WidescreenPatcher.1.18.1.zip)

If this doesn't work like previously, here is a zip containing the new graphics :)
[1366x768.z

[2020-09-19 21:24] heismauri commented on #13
I'm glad that u liked my suggestion and even implemented it! The largeback.bmp has one pixel off so I fixed it here.
[dlgframe-largeback.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5250628/dlgframe-largeback.zip)

Also, here is my latest log, no error info still
[SimsWidescreenPatcher.log](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-

[2020-09-21 20:45] FaithBeam commented on #13
Well that's a bummer about the logs... I'm kind of confused at the largeback.bmp because that is the image from my UIGraphics.far file. I agree that your largeback.bmp looks better when opening the image in a photo editor but does it make any visible impact in game? I can't see anything from my game. I'm hesitant to add this because I'd eventually like to go to extracting bmps from the UIGraphics.

[2020-09-22 20:15] FaithBeam commented on #13
If you feel up to trying another release, please try this one:
[Sims1WidescreenPatcher.1.18.2+e22e479.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5263790/Sims1WidescreenPatcher.1.18.2%2Be22e479.zip)

If that still doesn't create a stacktrace in the log file, please check the your Event Viewer. You would open Event Viewer > Windows Logs > Application > Prob

[2020-09-22 23:18] heismauri commented on #13
Weird that the original UIGraphics has one pixel off, well it is what it is. Is in that faredit info about the green screen in the family selector?

Here u have both logs and errors.
[SimsWidescreenPatcher(Win+Log).zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5264501/SimsWidescreenPatcher.Win%2BLog.zip)

[2020-09-24 21:35] FaithBeam commented on #13
The closest thing relating to the green screen I saw in the files is CreateACharBack.bmp
![CreateACharBack](https://user-images.githubusercontent.com/32502411/94200414-61521c80-fe88-11ea-9906-be844fc1f723.png)
As you can see, no green so I assume the game fills the empty space with green for whatever reason. Resizing this file doesn't do anything sadly.

As for the error you're getting, System.Acc

[2020-09-25 02:12] heismauri commented on #13
IT WORKED! Thank youuuuu. It is such a boomer tho about the green screen. But thank you also for taking a further look into it. Thank you thank you. It worked!

[2020-09-25 21:14] FaithBeam commented on #13
That's awesome! I don't actually know which of the changes fixed it though. Would you be willing to test one more time please? This time I need you to tell me which of these three releases **fails**

* https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/download/1.18.5-features-hotfix-13-parallel/Sims1WidescreenPatcher.1.18.5-features-hotfix-13-parallel+adf3f16.zip

[2020-09-25 21:57] heismauri commented on #13
✅ parallel
✅ magicknet
✅ anycpu
The 3 versions worked just fine.
Also, I upscaled each image to 16:9 so when the program upscales them it doest stretched them, hope you like them.
[16-9loadscreens.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/5285553/16-9loadscreens.zip)

[2020-10-10 13:38] FaithBeam commented on #13
Hello, it's been a while! Sorry for the delay, but I was a little sad and unmotivated because all three of those versions worked when I was expecting at least one to fail. Anyway, I implemented your proposed changes to the loadscreens in [1.19.0](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/download/1.19.0/Sims1WidescreenPatcher.1.19.0+x86.zip). Give it a try

[2020-11-11 00:21] #13 closed

[2020-12-16 16:40] mspr1nt opened #21 "Can't get windowed mode working"
Hey there. Thank you so much for this.  I'm running The Sims Complete Collection off its nocd exe and I just cannot get the windowed mode working, despite suffixing the -w (and variants thereof) to the shortcut (I tried both 800 and the other larger one, no luck).

For what it's worth I did get the longer version of this (manual override folder/ie not your much easier patch) working with  windowed

[2020-12-16 16:51] mspr1nt commented on #21
Actually, ignore me. I just tried the most obvious thing. Uninstall and reinstall with a slightly smaller ratio.
Fixed ^_^

[2020-12-16 16:51] #21 closed

[2021-01-22 02:00] Prisoner416 opened #23 "Anti-aliasing option is missing?"
I tried using the latest build of this patch, but for some reason the store wasn't showing object previews properly, so I reverted to my old patch version that worked.

However, one thing that annoys me, and has ever since I got the complete collection, is that anti-aliasing is missing from the options. I remember it being an option on the full games, used to have almost all the expansions. I'm no

[2021-01-22 11:59] FaithBeam commented on #23
@Prisoner416

Can you get me a screenshot of the bad object previews? I tried it with the 1.23.0-beta.1 patch and it looks normal if what we're talking about are the same.

![zopfli_Sims Screenshot 2021 01 22 - 06 28 01 41](https://user-images.githubusercontent.com/32502411/105485734-5747fb00-5c7b-11eb-8c9f-bb0dc1ff98f7.png)

The antialiasing must have been removed in the Complete Collection then.

[2021-02-05 12:42] slowtorta opened #25 "Requesting patcher for Sims 1 Original"
**Installed Sims Version**
Sims 1 Original:  **Link removed**
**Are you using a nocd exe / crack?**
Yes, it's provided with the game download.

**Describe the issue**
Dear sir FaithBeam! You're truly amazing person and I'm very grateful for your work ❤️ I'd really love the first version of the game to work in higher resolutions. Is it possible to arrange?

[2021-02-05 21:32] FaithBeam commented on #25
@slowtorta

Thank you for the kind words. I actually made it so you can use my patch with different Sims versions, but I can't really test them. I get an error while trying to play the patched Sims on a VM. My patcher successfully runs, but beyond that I don't know. Give it a try!

I removed the link you provided. I don't have a personal problem with the link you posted, but I want to protect this

[2021-02-06 11:39] slowtorta commented on #25
It worked as charm :) I didn't know you can use it with any game version! https://ibb.co/CwGr6fW 🤗 Sims 1 Vacation was my favorite version of all of them, means now when I will find a working download I can play it again :p Thanks!

[2021-02-10 20:54] FaithBeam commented on #25
@slowtorta Glad it worked for you :)

[2021-02-10 20:54] #25 closed

[2021-02-10 20:55] #23 closed

[2021-05-15 20:51] BoneCrusher03 opened #27 "White Screen Issue on anything over native resolution, on widescreen"
**Installed Sims Version**
Sims 1 Complete Collection (disc)

**Are you using a nocd exe / crack?**
yes
**Describe the issue. Include screenshots if you can**
Almost everything in game is white. The neighbourhood screen has 2 white squares and the lot is almost completely white except some sims and all the furniture.
**What are the steps to reproduce the issue?**
set the resolution to anything ove

[2021-05-15 21:09] FaithBeam commented on #27
@BoneCrusher03

Thanks for opening this issue. So this white screen happens on any resolution you choose, not just 3440x1440? Can you post a screen shot of it? It might help me identify the issue. I can successfully run 3440x1440 with no graphical glitches:
![3440x1440](https://user-images.githubusercontent.com/32502411/118378195-ff256380-b59f-11eb-98df-511e229c1748.jpg)

Try downloading this zip

[2021-05-16 09:27] BoneCrusher03 commented on #27
![Sims1 2](https://user-images.githubusercontent.com/62486993/118392360-a5717780-b639-11eb-8026-e7fab74b5334.png)
Yea forgot to attach a picture. Ill try the UIgraphics

[2021-05-16 09:32] BoneCrusher03 commented on #27
Still the same issue. It happens on any resolution that is non native.

[2021-05-16 09:46] FaithBeam commented on #27
Try this Sims exe. Backup your existing exe and overwrite it with this one:
[Sims.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/6488993/Sims.zip)

[2021-05-16 11:51] BoneCrusher03 commented on #27
Didnt work, still the same error

[2021-05-16 14:12] FaithBeam commented on #27
What does your Sims shortcut look like? I'm interested in the Shortcut tab and Compatibility tab.
![image](https://user-images.githubusercontent.com/32502411/118399880-40b02000-b62d-11eb-9387-66ff444a76d0.png)
![image](https://user-images.githubusercontent.com/32502411/118399887-4a398800-b62d-11eb-9f3d-d7c9d89792c0.png)

Also, try this: https://simsvip.com/2018/02/09/play-sims-1-windows-10-widescr

[2021-05-16 15:09] BoneCrusher03 commented on #27
![Desktop_210516_1708](https://user-images.githubusercontent.com/62486993/118402260-6e1abf00-b669-11eb-8a5a-4bc802be1457.jpg)
![Desktop_210516_1709](https://user-images.githubusercontent.com/62486993/118402263-6f4bec00-b669-11eb-80ab-bb36a59c0b32.jpg)
Ill try the fix

[2021-05-16 15:12] FaithBeam commented on #27
Have you tried setting the Compatibility mode to Windows XP Service Pack 2?

[2021-05-16 15:16] BoneCrusher03 commented on #27
That didnt change anything

[2021-05-16 15:27] BoneCrusher03 commented on #27
I tried the fix you linked but that didnt work either.
Im using a Radeon RX 5700 XT and a Ryzen 7 3700X since you were asking about my hardware

[2021-05-17 09:27] FaithBeam commented on #27
Hmm I'm not sure what the issue is or how to approach it. We know that:
* Anything not 800x600 or 1024x768 doesn't work
* All patches produce have the same issue so it's not an issue specific to my patcher

Try:
* Uninstalling your display drivers with [DDU](https://www.guru3d.com/files-details/display-driver-uninstaller-download.html) then install them again
* Reinstalling The Sims Complete Colle

[2021-05-20 08:10] CaveJohnson95 opened #28 "Screen not centered?"
**Installed Sims Version**
Sims 1 Complete Collection

**Are you using a nocd exe / crack?**
Yes

**Describe the issue. Include screenshots if you can**
Image is attached, the Screen is not centered after Patching

https://user-images.githubusercontent.com/84499302/118942854-643bd900-b953-11eb-9af9-d1bbe7963d77.jpg

**What are the steps to reproduce the issue?**
Fresh Sims 1 Install and Patching a

[2021-05-20 13:12] CaveJohnson95 commented on #28
I figured out what caused the problem, i'm on a laptop and had zoom set to 125 %, setting it to 100 % fixes the problem, is there any way to fix this?

[2021-05-21 10:12] FaithBeam commented on #28
@CaveJohnson95

I've seen something similar with #10. He was able to solve it by uninstalling my patch then patching again. The scaling setting is interesting because I've played at 125%-200% scaling with no issue. In case scaling is the issue, I believe you can disable it through the shortcut so you don't have to set it to 100% system wide.

![image](https://user-images.githubusercontent.com/3250

[2021-05-21 19:39] CaveJohnson95 commented on #28
With the override high DPI scaling behavior the game is displayed correctly. Perfect. Thanks for your help!

[2021-05-21 21:24] FaithBeam commented on #28
Cool, glad that solved it :)

[2021-05-21 21:24] #28 closed

[2021-05-22 14:26] BoneCrusher03 commented on #27
I tried that over the last couple of days but none of that worked either

[2021-05-25 21:35] FaithBeam commented on #27
Did you say you had a physical copy of the Complete Collection? I wonder if there is some incompatibility between the physical copy you have and the nocd/crack downloaded like version differences. If you still have the original Sims.exe, can you check the version of it by right clicking it > properties > details. The version I've seen on nocds/cracks is 1.9.1 or something like that.

[2021-06-08 00:07] mrpenguinb commented on #27
Try installing this DirectDraw wrapper called DDrawCompat: https://github.com/narzoul/DDrawCompat/releases/tag/v0.3.1

It fixes graphical and performance issues, making The Sims 1 run at a full 60 FPS.

[2021-06-28 11:54] PedroAS7 opened #29 "Can't run on Wine"
**Installed Sims Version**
Sims 1 with every expansion except for Superstar

**Are you using a nocd exe / crack?**
No

**Describe the issue. Include screenshots if you can**
Immediately crashes

**What are the steps to reproduce the issue?**
Just launch the program

**Please attach the generated log file SimsWidescreenPatcher.log**
SimsWidescreenPatcher.log is empty. Backtrace here:
[backtrace.txt

[2021-06-28 20:30] FaithBeam commented on #29
Anything after 1.22.3 will not work because the project target is > .net framework 4.0 in my experience. That said, I can get 1.22.3 to work with the instructions at https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/wiki/Linux-Usage. Have you tried that? Also, it is not my intention to keep compatibility with WINE, this program being compatible with WINE is just a happy ac

[2021-06-30 13:09] PedroAS7 commented on #29
Hello @FaithBeam

Yes, I did read that page 😊 I installed .NET 4.0 and, upon starting the program, it said .NET 4.7 was a requirement. I installed it too and, when trying to run the program, that's when I had the crash...

I'll give it a try later, on a fresh Wine prefix. Thanks for your help!

[2021-06-30 17:12] PedroAS7 commented on #29
Okay I have created a new prefix, and now I was able to launch it! However, I get a pop-up saying "Failed to find pattern..." when clicking on patch. Here's the log file.
[SimsWidescreenPatcher.log](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/6742781/SimsWidescreenPatcher.log)

[2021-07-01 10:18] FaithBeam commented on #29
@PedroAS7 Are you using a nocd or crack? You need to be using one for this patcher to work.

[2021-07-02 08:46] PedroAS7 commented on #29
I overlooked the second sentence in the whole README ("ou must be using a NoCD executable.")... My bad. Working now! Thank you for your work 😊

[2021-07-02 11:07] FaithBeam commented on #29
I'm glad it worked for you! I think this shows that I should make this requirement more visible. I'll move the NoCD/Crack line to the Requirements section of the Readme. :)

[2021-07-05 13:59] wiseiam opened #30 "no .exe file in download"
**Installed Sims Version**
Sims 1 no expansions, Sims 1 Complete Collection, etc.

**Are you using a nocd exe / crack?**

**Describe the issue. Include screenshots if you can**

**What are the steps to reproduce the issue?**

**Please attach the generated log file SimsWidescreenPatcher.log**

[2021-07-05 15:31] FaithBeam commented on #30
Which download are you talking about? You want to click the Sims1WidescreenPatcher zip, not the source code zips. Here is a direct link https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/download/1.23.0-beta.2/Sims1WidescreenPatcher.1.23.0-beta.2+x86.zip.
![image](https://user-images.githubusercontent.com/32502411/124494041-5b2c8d00-dd84-11eb-8dcc-d19b9e03d51c.png)

[2021-07-06 04:03] mrpenguinb opened #31 "DDrawCompat has lower latency and better performance than dgVoodoo2"
dgVoodoo2 works competently, but has latency and performance issues with The Sims 1 (has more overhead). And some graphical glitches are resolved as well when running the game in widescreen.

DDrawCompat is aimed at fixing games that use DirectDraw. Using this with The Sims 1 feels amazing, full 60 fps and even busy lots with lots of sims can be smooth.

At the very least, it would be nice to have

[2021-07-06 13:56] wiseiam commented on #30
Omgosh! Ok thank you so much!

[2021-07-06 22:05] FaithBeam commented on #30
You're welcome! :)

[2021-07-06 22:05] #30 closed

[2021-07-07 20:58] FaithBeam commented on #31
@mrpenguinb Yea, this looks to be almost completely better than dgVoodoo2. I experience some weirdness on startup however. The framerate tanks, and it seems like loading the neighborhood screen takes longer? I can imagine some users may create issues about "sims being frozen" when it's just ddrawcompat doing whatever it does on load.

I might add this. I need to test it more.

[2021-07-08 08:45] mrpenguinb commented on #31
The neighborhood screen does take longer, but it speeds up over time I think.
There is always lag with the words scrolling (under the logo) when the game starts. I've already added an issue to DDrawCompat's repo about it.
It is a worthwhile option to add, with less overhead and complexity compared to dgVoodoo2 IMO.

[2021-07-10 12:30] FaithBeam commented on #31
@mrpenguinb Latest release has DDrawCompat: https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/tag/1.23.0-beta.3

[2021-07-10 13:07] mrpenguinb commented on #31
Fantastic! Has it made the game more enjoyable to play for you? (it has for me).
Using DDrawCompat makes the game run just like how it does on Windows XP before DirectDraw was deprecated performance-wise.

[2021-07-10 18:48] FaithBeam commented on #31
It definitely provides a superior experience. That said, I haven't really played The Sims for five years. I'm glad ddrawcompat exists though :)

[2021-07-10 18:48] #31 closed

[2021-07-17 21:11] Stackor opened #32 "Issue on native UWQHD resolution"
**Installed Sims Version**
Sims 1, no expansions, original US version with German no-cd .exe copied on top

**Are you using a nocd exe / crack?**
yes (German no-cd exe)
I attached it for your reference (maybe the problem has to do with it; just remove the .log extension):
[Sims.exe.log](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/6835283/Sims.exe.log)

**Descri

[2021-07-18 16:34] Elielzices opened #33 "Patcher not recognising No-CD for EP01 and EP02"
**Installed Sims Version**
Sims 1 basegame + gradually instaling

**Are you using a nocd exe / crack?**
Yes. I tested every nocd that I collected. I'm using a nocd that works for Brazilian game language (Idk if there's a difference).
I shared in this folder (https://1drv.ms/u/s!AjsCZzvH1IFemK9Wp7Azw779gfQGaQ?e=3n247W) copies of the files

**Describe the issue. Include screenshots if you can**
When

[2021-07-20 10:08] FaithBeam commented on #33
@Elielzices
Hello! Yes, I too cannot find the offsets for width and height or ep 1 and 2. The exe for ep 1 is weird, 157kb vs 2+mb the other exes. This patch does nearly the same thing as documented in WSGF so if it doesn't work with that, it won't work with my program I'm sorry to say :(

[2021-07-20 10:10] FaithBeam commented on #32
@Stackor Sorry for the delay, can you zip your UIGraphics folder and upload it here please? Also, can you try the previous release with dgVoodoo2 enabled please? https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/download/1.23.0-beta.2/Sims1WidescreenPatcher.1.23.0-beta.2+x86.zip

Thank you!

[2021-07-21 06:54] Stackor commented on #32
@FaithBam: Thanks for your response.
Please find attached my UIGraphics folder. Please find my UIGraphics folder
here:
https://drive.google.com/file/d/194lsHZrCfFE8XswXxIIdgX2xB1VMT3IE/view?usp=sharing
I tried the previous release with the dgVoodoo2 option enabled, but the
result is the same.

Hope this helps.

Best, Stackor

Am Di., 20. Juli 2021 um 12:10 Uhr schrieb FaithBeam <
***@***.***>:

[2021-07-21 11:00] Elielzices commented on #33
@FaithBeam
Thanks for the answer. I was so glad when I heard someone took the time to automatize the WSGF steps, thanks for it too.

Yeah, I was wondering if the problem was just with me (my nocd) or if it was a general problem.
Thanks again

[2021-07-21 11:00] #33 closed

[2021-07-26 10:56] mrpenguinb commented on #32
Try the game in Windowed mode, or else modify the game to run at 3840 × 2160 (normal 4K resolution). The game probably doesn't like that specific resolution, or it might go over an integer limit? (just a wild guess).

[2021-07-26 16:49] Stackor commented on #32
@mrpenguinb:
I tried your suggestions regarding 4K (3840x2160). Unfortuately,

- 4K fullscreen: does not work (black screen)
- 4K windowed (option "-w" in shortcut): does not work (error message on startup like: Critical error! Game start impossible b/c of wrong color depth/resolution)

So I tried Full HD (1920x1080) instead, with strange results:

- Full HD fullscreen: intact graphics (no glitche

[2021-08-12 07:02] Gaerthal-Estelmist commented on #32
Sorry if you guys have already found the answer but if you could not find the reason for those black screens in the game, try exiting FRAPS before entering the game. I solved my black screen issue this way, back a while ago. Hope this helps.

[2021-08-12 09:55] mrpenguinb commented on #32
Also make sure to exit Discord, as that can interfere with games and applications that use DirectDraw!

[2021-08-31 10:32] DiabloStorm opened #39 "Neighborhood screen for Vacation area bugged out (possibly others?) v1.24.0-beta.1"
![vacation island](https://user-images.githubusercontent.com/63818362/131487449-80997d90-1b27-4398-8625-0857341eaadd.PNG)

[2021-08-31 11:11] FaithBeam commented on #39
@DiabloStorm Hello! I can confirm this issue. This comes from me improperly naming a bmp file. Can you try this version? It should fix this.

[Sims1WidescreenPatcher.1.24.0-beta.2.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/7083411/Sims1WidescreenPatcher.1.24.0-beta.2.zip)

[2021-09-02 14:49] DiabloStorm commented on #39
![still bugged](https://user-images.githubusercontent.com/63818362/131865330-6a3f5dc6-dbc6-4a6e-b2ed-bfe476cb21ae.PNG)
Bad news, areas are still bugged like this. This is when you're in game travelling to other areas while playing, not just switching neighborhood views with no sims doing things in the background...

I jump into the magic town hole and get this screen, same with the vacation screen

[2021-09-04 09:27] FaithBeam commented on #39
That's strange. I was getting the same issue as you with 1.24.0-beta.1, but I'm pretty sure I fixed it in 1.24.0-beta.2 (at least for me). Can you paste the Sims1WidescreenPatcher.log, and you're using the Complete Collection correct?

[2021-09-04 11:50] DiabloStorm commented on #39
So, for the record I'm using my original cds, essentially the same as complete collection, plus a discless .exe So, confirmation that this works for people like me :P

Anyway, looks like this + the last patch fixed them all. I just went through each one to check.

Thanks for everything here.

[2021-09-04 11:50] #39 closed

[2021-10-12 10:46] FaithBeam opened #40 "Missing Arrow Buttons in Buy Mode in Certain Resolutions"
**Installed Sims Version**
Sims 1 Complete Collection but probably all editions that have enough items that you have to click the arrow buttons to see.

**Are you using a nocd exe / crack?**
Not relevant

**Describe the issue. Include screenshots if you can**
The arrows to scroll to the next and previous menus in the buy screen are missing on the resolution 1600x900.
https://i.imgur.com/FNKRTqH.pn

[2021-10-12 10:47] FaithBeam commented on #40
This is not something I can fix or at least I don't know how to fix it.

[2021-10-16 11:37] spidy314 opened #41 "no background music after installing widescreen patch"
**Installed Sims Version**
Sims 1 Complete Collection

**Are you using a nocd exe / crack?**
yes
**Describe the issue. Include screenshots if you can**
hi guys, just wanting to let you know with the current iteration on the widescreen patcher, the background music (like neighborhood or buy/build) just dont seem to be working and it works when its unpatched.
**What are the steps to reproduce the is

[2021-10-16 13:03] FaithBeam commented on #41
@spidy314 Can you zip your unpatched sims.exe (Sims Backup.exe), patched Sims.exe (Sims.exe), and patch log (Simswidescreenpatcher.log) files and upload them here please?

[2021-10-17 01:00] spidy314 commented on #41
[Sims1stuff.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/7358484/Sims1stuff.zip)
here you go :)

[2021-10-17 12:41] FaithBeam commented on #41
@spidy314 I see what's going on. You're using a cracked exe that's already been patched for 1920x1080 resolution. The way my patch works is not compatible in this situation. My program searches for a pattern of bytes that signify the resolution 800x600. Technically is just searches for bytes representing 800 followed by 600. Since these bytes have already been changed in your Sims exe, my program

[2021-10-25 22:44] yacort opened #42 "Sims1WidescreenPatcher.exe keeps running in the background and won't show up"
**Installed Sims Version**
Sims 1 Complete Collection, etc.

**Are you using a nocd exe / crack?**
yes
**Describe the issue. Include screenshots if you can**
After the first time using it, I wanted to open the executable again and it only keeps going in the background. Tried everything but no dice.
**What are the steps to reproduce the issue?**
-Open the program for the first time
-Use it to patch

[2021-10-29 23:09] yacort commented on #42
Is still behaving like the others versions, but now at least it appears in the windows' regular taskmanager
![Screenshot_8](https://user-images.githubusercontent.com/59181165/139510328-4be89e40-dfde-4dfe-9d7d-ba34e9c59c14.png)
![Screenshot_7](https://user-images.githubusercontent.com/59181165/139510329-c6983acb-2599-4fc5-a79d-43d03a140263.png)
Sorry for my late reply and thanks in advance!

[2021-11-06 12:06] FaithBeam commented on #42
@yacort Try this release. It is another attempt force close the application on shutdown.
[Sims1WidescreenPatcher.2.0.3-beta.3.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/7490400/Sims1WidescreenPatcher.2.0.3-beta.3.zip)

[2022-02-01 05:00] mrpenguinb commented on #32
@Stackor
@FaithBeam
I managed to get 4K to work with The Sims 1!
There are no graphical glitches apart from some minor glitches. Dragging/moving the camera works with no defects.
4096 × 2160 is the resolution I tried, haven't tried 3840 x 2160 yet.

Make sure that the game's DPI setting is set to **Application** under "Override** high DPI scaling behaviour. Scaling performed by:"
![image](https://

[2022-02-01 05:14] mrpenguinb commented on #32
The resolution values I used were `00 0F` (3840) and `70 08` (2160).

[2022-02-01 11:27] FaithBeam commented on #32
@mrpenguinb Excellent! I'll add that advice to the wiki later today. Thank you!
@Stackor Can you confirm that mrpenguinb's advice fixes your issue?

[2022-02-02 10:56] mrpenguinb commented on #32
Turns out overriding the DPI scaling actually created an issue with the phone call UI. It isn't necessary to override the DPI, I just included it because I thought it might help when actually it broke some things.

[2022-02-03 11:24] FaithBeam commented on #32
@mrpenguinb That's unfortunate. I haven't been able to test the scaling override, but it seemed like a good idea!

[2022-02-03 11:31] #41 closed

[2022-02-17 05:09] mrpenguinb commented on #32
A user on PCGamingWiki has reported that G-SYNC can interfere with DDrawCompat: https://www.pcgamingwiki.com/w/index.php?title=Topic:Uqikvi3mga09dz33&topic_showPostId=wpp2twyhs7hotatu#flow-post-wpp2twyhs7hotatu
It can cause a blackscreen if enabled globally, so the game has to be excluded from using G-SYNC manually.

[2022-02-17 22:42] FaithBeam commented on #32
@mrpenguinb I can confirm this issue as well. GSync monitor with gtx 1060. I'll add a section to the readme and wiki.

[2022-02-22 12:11] epiclulz666 commented on #10
i got the same issue as this guy but what he did doesnt solve my issue. im attempting to run it at 4k

[2022-02-22 22:42] FaithBeam commented on #10
@epiclulz666 Can you try changing the dpi setting from this link please? https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/issues/28#issuecomment-845843938

[2022-02-23 09:29] epiclulz666 commented on #10
@FaithBeam when i checked my settings as per your link they where already set to same settings as the screenshots. i have uninstalled and reinstalled the patch tried the 2 different wrappers same issue.

![Screenshot_42](https://user-images.githubusercontent.com/12473897/155292227-50267c29-e82a-4135-8d9b-3acdf878c1c4.png)

![Sims Screenshot 2022 02 23 - 19 17 29 74](https://user-images.githubuserc

[2022-02-23 09:30] epiclulz666 commented on #10
![Screenshot_43](https://user-images.githubusercontent.com/12473897/155292479-433790d3-bf80-4808-a9ec-e25724448220.png)

[2022-02-23 09:33] epiclulz666 commented on #10
[UIgraphics.zip](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/files/8123186/UIgraphics.zip)

[2022-02-24 23:59] FaithBeam commented on #10
The graphics files look normal. I used them for my install, and they work fine, so it's not an issue with the patch itself. Is your issue solved? The screenshots you posted don't look off-center.

[2022-03-25 23:25] mrpenguinb opened #45 "DDrawCompat - Cursor disappears when calling neighbor or buying clothes in windowed mode"
**Installed Sims Version**
Sims 1 Complete Collection with Calendar mod (shouldn't matter)

**Are you using a nocd exe / crack?**
Yes

**Describe the issue. Include screenshots if you can**
Mouse disappears in windowed mode in dialogs when calling a neighbor and buying clothes.

**What are the steps to reproduce the issue?**
- Run The Sims 1 with the -w windowed flag.
- Currently running the game

[2022-03-26 11:19] FaithBeam commented on #45
I see what you mean. However, sometimes I do get the cursor in the dialogs after restarting the game enough times.
<img src="https://i.imgur.com/p8i7wWd.png" width="200" />

I'd also like to test with dgvoodoo2 and with no wrapper to see if it is indeed a ddrawcompat issue with this game.

[2022-04-24 01:09] mrpenguinb commented on #45
I am unable to recreate the issue anymore.

[2022-05-04 18:27] iurgium opened #47 "Can't run the game on Wine after patching"
Hey there!
I followed this tutorial to install the game (Complete Collection) on my mac (M1 chip) - https://www.youtube.com/watch?v=MKHfRJqIndU&t=229s. Everything went just fine until I tried to run the Patcher. First I got the Wine "no new executables found" error. I tried all sort of fixes I could find but nothing worked. Then I managed to run the Patcher following this post - https://github.com

[2022-05-07 08:50] iurgium commented on #47
It worked like a charm, for the latest patch version as well, thank you!

[2022-05-07 23:51] aikohime opened #49 "Having a black line on top of the UI"
**Installed Sims Version**
Sims 1 no expansions, Sims 1 Complete Collection, etc.
Sims 8 in 1

**Are you using a nocd exe / crack?**
Yes

**Describe the issue. Include screenshots if you can**
![Sims 2022-05-08 07-32-49-388](https://user-images.githubusercontent.com/105133595/167275501-aaf86875-76a8-4a45-9864-7a668d55c712.jpg)

**What are the steps to reproduce the issue?**
- use the patch (resolu

[2022-05-08 12:14] FaithBeam commented on #49
@aikohime
Hello! I see you are using 2.3.0 version of my patcher, can you try again with [2.3.1](https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/tag/2.3.1), please? I don't believe it will solve the issue of the black line, but it will fix that artifact in the middle of the panel.

Is this a Chinese locale install? I'm interested why the characters above the moo

[2022-05-08 22:24] FaithBeam commented on #49
Was able to reproduce the issue.

![Sims_nfmzsP5aKQ](https://user-images.githubusercontent.com/32502411/167318226-92ad79af-fc25-4a8a-9ce8-0812e2732622.jpg)

[2022-05-08 22:31] FaithBeam commented on #49
This is what it's supposed to look like. I'm assuming I need to scale an image that is currently not.

![Sims_XIQ3jyD0YI](https://user-images.githubusercontent.com/32502411/167318403-c408f882-716e-49bd-9c84-6a1c8a38633c.jpg)

[2022-05-08 22:49] FaithBeam commented on #49
I think I found the image, UIGraphics\cpanel\Backgrounds\TallSubPanel.TGA.
![zopfli_TallSubPanel](https://user-images.githubusercontent.com/32502411/167319059-a5e8cf65-80bb-4126-93af-bab37f234c50.png)

It being tga is kind of annoying because I can't use my existing scaling methods.

[2022-05-08 22:55] aikohime commented on #49
It remains the same as I change to the latest version of the patcher v2.3.1. Maybe I should just wait for v2.3.2 instead.

[2022-05-17 16:26] lythacore opened #51 "Thousands of Colors error?"
**Installed Sims Version**
Sims 1 Complete Collection

**Are you using a nocd exe / crack?** Yes

**Describe the issue. Include screenshots if you can** Receiving an error on starting the Sims 1 after patching with dgvoodoo2. Cannot seem to revery the change in question and am now receiving the error regardless of uninstallation of dgvoodoo2 and re-installation of ddrawcompat or without a wrapper.

[2022-05-17 20:24] FaithBeam commented on #49
@aikohime This will be fixed in the next release which will be a few days. Ignore the red squiggle, I was having fun :)
![ctsglcqM6E](https://user-images.githubusercontent.com/32502411/168903589-6ed7c378-ce5b-463d-830e-b9cc5f8fbec2.jpg)

[2022-05-17 21:26] lythacore commented on #51
Thank you. It didn't work from the shortcut, but it did work once I set it on the actual sims.exe.

[2022-05-17 21:27] #51 closed

[2022-05-18 20:23] FaithBeam commented on #49
@aikohime I created a new release that should fix this issue for you. https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/tag/2.3.2

Let me know if that works.

[2022-05-19 20:43] #49 closed

[2022-05-21 10:58] #47 closed

[2022-06-26 08:24] nickkeane opened #52 "Duplicated Cursor when using Upscaled Rendering via dgVoodoo2"
**Installed Sims Version**
Sims 1 Complete Collection

**Are you using a nocd exe / crack?**
Yes

**Describe the issue. Include screenshots if you can**

In-game mouse cursor appears twice on screen, with the position scaling out from the top left.
Expecting to see only one in-game cursor, but getting two (presumably the upper-leftmost cursor is rendered at the original non-upscaled resolution).

[2022-06-26 17:51] yxles-dev opened #53 ""'NativeMagickSettings' threw an exception" on Legacy ver"
**Installed Sims Version**
The Sims 1 Complete Collection

**Are you using a nocd exe / crack?**
Yes

**Describe the issue. Include screenshots if you can**
Running the patcher on Windows XP threw a error stating "An unhandled exception occurred. The type initializer for 'NativeMagickSettings' threw an exception"
![untitled](https://user-images.githubusercontent.com/84117528/175827316-2fdd48a4-870

[2022-07-02 13:58] FaithBeam commented on #53
@yxles-dev Sorry for the late reply. It turns out my patcher never worked for Windows XP despite me believing it would because it targeted .NET Framework 4.0. There's some sort of issue with Magick.NET and very old operating systems. This is the main issue from your log
`ERROR SimsWidescreenPatcher.App - System.DllNotFoundException: Unable to load DLL 'Magick.Native-Q8-x86.dll': The specified proc

[2022-07-02 14:04] FaithBeam commented on #52
This is an issue for the dgvoodoo2 creator, dege. Unfortunately, he archived his [github repo](https://github.com/dege-diosg/dgVoodoo2) so I'm not sure where we'd report issues

[2022-07-19 10:02] xactionx59 opened #54 "Patcher on macOS Wineskin"
**Installed Sims Version**
Sims 1 Complete Collection (FRENCH version) on macOS 12.4 with Wineskin

**Are you using a nocd exe / crack?**
Yes

**Describe the issue. Include screenshots if you can**
Hi!  👋 First of all thank you for the work you have done! I've been using this patch for years on Windows and it's always worked fine. Now, I'd like to play The Sims 1 on my Mac (French version) and I h

[2022-07-20 20:39] FaithBeam commented on #54
@xactionx59 Hello! I'm glad you enjoy the program! Wineskin winery stopped working with my patcher a few months ago from one of its updates. There are two options you can try:
1. Run the latest patcher with CodeWeavers Crossover
2. Run the patcher I've attached in a wine prefix with only dotnet40 installed. If you try to run this in your wineskin with dotnet472 installed, it may not work. This ver

[2022-07-21 13:28] xactionx59 commented on #54
Hello! Thanks a lot for your reply!

I've tried the first and second option. All of these works well! You're the best! :) Thanks a lot!

<img width="1440" alt="Capture d’écran 2022-07-21 à 14 56 56" src="https://user-images.githubusercontent.com/38098554/180224965-9e8ac050-7338-47e8-9a65-0a3653924ef6.png">

<img width="1440" alt="Capture d’écran 2022-07-21 à 14 57 56" src="https://user-images.gi

[2022-07-21 13:28] #54 closed

[2022-08-05 11:59] ct2057 opened #55 "Invalid URI: The hostname could not be parsed."
**Installed Sims Version**
Sims 1 Complete Collection

**Are you using a nocd exe / crack?**
N/A

**Describe the issue. Include screenshots if you can**
When attempting to run Sims1WidescreenPatcher via Windows Explorer, the application simply does not run. However, if I run the application via the CLI the app seems to vomit, starting with an error that there was an Invalid URI (see attached outpu

[2022-08-05 20:35] FaithBeam commented on #55
That is bizarre. I don't create a URI in my code at all which is confusing me. It dies right as it tries to show the GUI according to the cli output. Which version of Windows are you using, do you have a non-standard antivirus, does the Event Viewer > Windows Logs > Application show anything after you try to run the application?

That path in the logs is my local computer dev path for the applicat

[2022-08-06 15:03] FaithBeam commented on #55
I just released a beta of 3.0.0 if you'd like to try that https://github.com/FaithBeam/Sims-1-Complete-Collection-Widescreen-Patcher/releases/tag/3.0.0-beta.1.

[2022-08-06 21:09] ct2057 commented on #55
Hello, so I ran the version 3.0.0 beta (macOS version) and all I can say is, seeing one of my childhood favourite games running in all its (now) 4K glory is such a sight to behold! Thank you so much for your help, and for this amazing app.

I will mention however that v3.0.0 (for Windows) of the app - running under a Wine environment - does not appear to work; a little more feedback this time comp

[2022-08-06 21:09] #55 closed

[2022-08-11 21:03] JMonster973 opened #56 "Running on MacOS"
I am completely new to all of this and I was wondering if there is any way to get the Sims 1 Complete Collection Running on MacOS with this patch. Is there anything else I need to install besides this to get it to work? Thanks!

[2022-08-12 21:12] FaithBeam commented on #56
@JMonster973 This patch is only to make The Sims widescreen (or any resolution you want). It doesn't do anything to make it run on newer systems. That said, here's a video that shows how to install The Sims with Wineskin Winery and apply the patch on macOS: https://www.youtube.com/watch?v=hOy1boR1_Go

[2022-08-13 13:11] JMonster973 commented on #56
Thank you so much. I followed this tutorial and it worked. There are a few minor glitches in the game but otherwise it plays very nicely. All of the text on the screen is very small though. Are there any other resolutions you would recommend? Also, if you don't mind me asking: How did you find this tutorial? Before this, I looked for hours and couldn't find one.

[2022-08-13 13:11] #56 closed

[2022-08-13 13:12] JMonster973 commented on #56
Thank you so much. I followed this tutorial and it worked. There are a few minor glitches in the game but otherwise it plays very nicely. All of the text on the screen is very small though. Are there any other resolutions you would recommend? Also, if you don't mind me asking: How did you find this tutorial? Before this, I looked for hours and couldn't find one. (Please ignore the two times I clos

[2022-08-13 13:54] FaithBeam commented on #56
I like to stick to resolutions between 720p and 1080p for the reason you said. On my MBP, I choose 1312x848. You can find which resolutions would be good by:
1. Opening Displays
2. Click Scaled
3. Hover (Don't click) over the different scaling options to show their resolutions
4. Enter/select that resolution in the patcher
![resolutions](https://user-images.githubusercontent.com/32502411/184497115

[2022-08-13 14:52] JMonster973 commented on #56
Thank you so much. This worked perfectly.

[2022-09-25 22:01] acsibubu opened #57 "Custom Resolution Issue"
Hello, any ideas on how to get the game running with a  custom resolution of 854×480?

[2022-09-25 22:12] FaithBeam commented on #57
Hello! For custom resolutions you'll need to do two things:
1. Add the resolution in the patcher by clicking the resolution drop down, scrolling to the bottom of the list, and selecting \<Custom Resolution\>
<img width="452" alt="Sims1WidescreenPatcher_WKXimLHXa9" src="https://user-images.githubusercontent.com/32502411/192167857-77f34639-b6ed-49a7-979a-e5d41edb5b9a.png">
<img width="340" alt="Sims

[2022-09-25 22:30] acsibubu commented on #57
![image](https://user-images.githubusercontent.com/105495719/192168431-596eb6a3-0b69-4be4-b82d-6fbfd402d940.png)
Thank you for the quick reply!
Unfortunately using this option ends up with the above error, any othe option causes some weird lagging when scrolling,

[2022-09-26 20:47] FaithBeam commented on #57
Does a log file get dropped in the magpie folder? If so, can you paste it?

[2022-09-26 20:50] acsibubu commented on #57
I got it working fine, had to change the default graphics processor to the integrated one in the NVIDIA control pannel.

[2022-09-26 20:52] FaithBeam commented on #57
Excellent! Thank you for posting your solution!

[2022-09-26 20:52] #57 closed

[2022-10-22 19:36] MonDiz26 opened #60 "(MacBook Pro 2019/MacOS Monterey Version 12.6)"
I'm not sure what to do after downloading [Sims1WidescreenPatcher.3.0.0+osx.x64.zip] and Source code
(zip) from your latest drop. I need a step-by-step process how to get it into my laptop I tried about 10 times and I still didn't get anywhere. Please help thank you! I'm new to all of this coding and what not but I do want the sims complete collection on my laptop.

I have also put in the terminal

[2022-10-23 15:20] FaithBeam commented on #60
You can delete the source code zip because it's not needed to run the patcher. This is a step by step YouTube guide for the patcher: https://www.youtube.com/watch?v=hOy1boR1_Go

[2022-10-24 10:50] Gaerthal-Estelmist opened #61 "v3.2.2 causes the game to crash to desktop after running sims.exe"
Hello,
The game worked perfectly with v 3.0.0.
I tried the newly released v 3.2.2 but after running the game shortcut, the screen turns black (as normal) but then the loading screen does not appear and it returns back to the desktop.
I always choose Ddraw compat with 1280x960 resolution. Windows 8.1 64 bit.
I tried with both borderless fullscreen enabled & disabled, same result.

I've been followi

[2022-10-24 20:21] FaithBeam commented on #61
Hello! This is probably due to the ddrawcompat update to 0.4.0. Can you please patch it again, drop this [ddraw.dll](https://github.com/narzoul/DDrawCompat/releases/download/v0.3.1/DDrawCompat-v0.3.1.zip) in your Sims installation folder, overwrite the existing ddraw.dll, and run The Sims. Let me know if that works. That's the 0.3.1 ddraw.dll that was included in my v3.0.0 release.

You're very we

[2022-10-25 03:53] Gaerthal-Estelmist commented on #61
And your kitty always brings a smile :)
I tried your method and it indeed works and the game works normally. Nice!

[2022-10-25 09:30] FaithBeam commented on #61
Ok, try this [ddraw](https://github.com/narzoul/DDrawCompat/files/9736501/ddraw.zip). This is Narzoul's fix for someone who was crashing on Windows 7 for 0.4.0. If you crash again, I recommend opening an issue in the [DDrawCompat repository](https://github.com/narzoul/DDrawCompat/issues).

[2022-10-25 12:11] Gaerthal-Estelmist commented on #61
Tried this one, the game did not crash but this time the FPS had a massive drop. The fluidity of Ddraw Compat is there no more. Painful to play.
I guess I'll just stick with v 3.0.0 :)